@import "./base.css";

body {
  font-family: 'NunitoSans';
  overflow-x: hidden;
  position: relative;
}

#app {
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.3s;
}

a:hover,
a:visted,
a:active {
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.1s;
}

router-link {
  border: 1px solid #b4b4b4;
  background-color: white;
  padding: 10px;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

i {
  margin-right: 5px;
}

.dp__input {
  height: 46px;
  background-color: #eaecef;
}

.fincen-input,
.fincen-input:focus {
  background-color: #eaecef;
  border-radius: 1px;
  padding: 10px 20px;
}

.eyeball-input {
  display: inline-block;
  width: calc(100% - 40px);
}

.eyeball {
  display: inline-block;
  width: 40px;
  cursor: pointer;
  padding-left: 8px;
}

.eyeball img {
  width: 25px;
  height: 25px;
  opacity: 0.7;
}

.loading-overlay {
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(247, 251, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  color: var(--color-primary);
  font-weight: bold;
}

.inline {
  display: inline-block;
}

.nostyle:hover,
.nostyle:focus,
.nostyle:visited,
.nostyle {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
}

.bold { font-weight: bold; }
.semi-bold { font-weight: 600; }

.underline {
  text-decoration: underline;
  text-underline-position: under;
}

.emphasize {
  font-style: italic;
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.pointer { cursor: pointer; }

.pointer-none { pointer-events: none; }

.float-right {
  float: right;
}

.div-disabled {
  opacity: 0.45;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fs8 { font-size: 8px; }
.fs9 { font-size: 9px; }
.fs10 { font-size: 10px; }
.fs11 { font-size: 11px; }
.fs12 { font-size: 12px; }
.fs13 { font-size: 13px; }
.fs14 { font-size: 14px; }
.fs15 { font-size: 15px; }
.fs16 { font-size: 16px; }
.fs17 { font-size: 17px; }
.fs18 { font-size: 18px; }
.fs19 { font-size: 19px; }
.fs20 { font-size: 20px; }
.fs22 { font-size: 22px; }
.fs24 { font-size: 24px; }
.fs26 { font-size: 26px; }
.fs28 { font-size: 28px; }
.fs30 { font-size: 30px; }
.fs32 { font-size: 32px; }
.fs40 { font-size: 40px; }

.plr10 { padding-left: 10px; padding-right: 10px; }
.plr20 { padding-left: 20px; padding-right: 20px; }
.plr30 { padding-left: 30px; padding-right: 30px; }
.plr40 { padding-left: 40px; padding-right: 40px; }
.plr50 { padding-left: 50px; padding-right: 50px; }

.p0 { padding: 0; }
.p2 { padding: 2px; }
.p3 { padding: 3px; }
.p4 { padding: 4px; }
.p5 { padding: 5px; }
.p6 { padding: 6px; }
.p7 { padding: 7px; }
.p8 { padding: 8px; }
.p9 { padding: 9px; }
.p10 { padding: 10px; }
.p15 { padding: 15px; }
.p20 { padding: 20px; }
.p25 { padding: 25px; }
.p30 { padding: 30px; }
.p35 { padding: 35px; }
.p40 { padding: 40px; }
.p45 { padding: 45px; }
.p50 { padding: 50px; }
.p60 { padding: 60px; }
.p80 { padding: 80px; }
.p100 { padding: 100px; }

.pt0 { padding-top: 0; }
.pt5 { padding-top: 5px; }
.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pt20 { padding-top: 20px; }
.pt25 { padding-top: 25px; }
.pt30 { padding-top: 30px; }
.pt40 { padding-top: 40px; }
.pt50 { padding-top: 50px; }
.pt60 { padding-top: 60px; }
.pt80 { padding-top: 80px; }
.pt100 { padding-top: 100px; }
.pt150 { padding-top: 150px; }
.pt200 { padding-top: 200px; }

.pb0 { padding-bottom: 0; }
.pb5 { padding-bottom: 5px; }
.pb10 { padding-bottom: 10px; }
.pb15 { padding-bottom: 15px; }
.pb20 { padding-bottom: 20px; }
.pb25 { padding-bottom: 25px; }
.pb30 { padding-bottom: 30px; }
.pb35 { padding-bottom: 35px; }
.pb40 { padding-bottom: 40px; }
.pb45 { padding-bottom: 45px; }
.pb50 { padding-bottom: 50px; }
.pb60 { padding-bottom: 60px; }
.pb80 { padding-bottom: 80px; }
.pb100 { padding-bottom: 100px; }

.pl0 { padding-left: 0; }
.pl2 { padding-left: 2px; }
.pl5 { padding-left: 5px; }
.pl8 { padding-left: 8px; }
.pl10 { padding-left: 10px; }
.pl15 { padding-left: 15px; }
.pl20 { padding-left: 20px; }
.pl25 { padding-left: 25px; }
.pl30 { padding-left: 30px; }
.pl40 { padding-left: 40px; }
.pl50 { padding-left: 50px; }
.pl60 { padding-left: 60px; }
.pl80 { padding-left: 80px; }
.pl100 { padding-left: 100px; }

.pr0 { padding-right: 0; }
.pr5 { padding-right: 5px; }
.pr10 { padding-right: 10px; }
.pr15 { padding-right: 15px; }
.pr20 { padding-right: 20px; }
.pr25 { padding-right: 25px; }
.pr30 { padding-right: 30px; }
.pr40 { padding-right: 40px; }
.pr50 { padding-right: 50px; }
.pr60 { padding-right: 60px; }
.pr80 { padding-right: 80px; }
.pr100 { padding-right: 100px; }

.m0 { margin: 0; }
.m5 { margin: 5px; }
.m10 { margin: 10px; }
.m15 { margin: 15px; }
.m20 { margin: 20px; }
.m25 { margin: 25px; }
.m30 { margin: 30px; }
.m40 { margin: 40px; }
.m50 { margin: 50px; }
.m60 { margin: 60px; }
.m80 { margin: 80px; }
.m100 { margin: 100px; }

.mt0 { margin-top: 0; }
.mt4 { margin-top: 4px; }
.mt5 { margin-top: 5px; }
.mt6 { margin-top: 6px; }
.mt7 { margin-top: 7px; }
.mt8 { margin-top: 8px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt25 { margin-top: 25px; }
.mt30 { margin-top: 30px; }
.mt35 { margin-top: 35px; }
.mt40 { margin-top: 40px; }
.mt45 { margin-top: 45px; }
.mt50 { margin-top: 50px; }
.mt60 { margin-top: 60px; }
.mt80 { margin-top: 80px; }
.mt100 { margin-top: 100px; }

.mb0 { margin-bottom: 0; }
.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mb25 { margin-bottom: 25px; }
.mb30 { margin-bottom: 30px; }
.mb35 { margin-bottom: 35px; }
.mb40 { margin-bottom: 40px; }
.mb45 { margin-bottom: 45px; }
.mb50 { margin-bottom: 50px; }
.mb60 { margin-bottom: 60px; }
.mb80 { margin-bottom: 80px; }
.mb100 { margin-bottom: 100px; }

.ml0 { margin-left: 0; }
.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.ml15 { margin-left: 15px; }
.ml20 { margin-left: 20px; }
.ml25 { margin-left: 25px; }
.ml30 { margin-left: 30px; }
.ml35 { margin-left: 35px; }
.ml40 { margin-left: 40px; }
.ml45 { margin-left: 45px; }
.ml50 { margin-left: 50px; }
.ml60 { margin-left: 60px; }
.ml80 { margin-left: 80px; }
.ml100 { margin-left: 100px; }

.mr0 { margin-right: 0; }
.mr5 { margin-right: 5px; }
.mr10 { margin-right: 10px; }
.mr15 { margin-right: 15px; }
.mr20 { margin-right: 20px; }
.mr25 { margin-right: 25px; }
.mr30 { margin-right: 30px; }
.mr35 { margin-right: 35px; }
.mr40 { margin-right: 40px; }
.mr45 { margin-right: 45px; }
.mr50 { margin-right: 50px; }
.mr60 { margin-right: 60px; }
.mr80 { margin-right: 80px; }
.mr100 { margin-right: 100px; }
.mr200 { margin-right: 200px; }
.mr400 { margin-right: 400px; }

.op0 { opacity: 0; }
.op1 { opacity: 0.1; }
.op2 { opacity: 0.2; }
.op3 { opacity: 0.3; }
.op4 { opacity: 0.4; }
.op5 { opacity: 0.5; }
.op6 { opacity: 0.6; }
.op7 { opacity: 0.7; }
.op8 { opacity: 0.8; }
.op9 { opacity: 0.9; }
.op10 { opacity: 1; }

.text-white { color: #fff; }
.text-black { color: #000; }
.text-soft-black { color: var(--vt-c-black-mute); }
.text-green { color: var(--color-green); }
.text-darkgreen { color: var(--color-darkgreen); }
.text-yellow { color: var(--color-yellow); }
.text-orange { color: var(--color-orange); }
.text-red { color: var(--color-red); }
.text-blue { color: var(--color-primary); }
.text-blue2 { color: var(--color-secondary); }

.width-100 {
  max-width: 100px;
}

.width-150 {
  max-width: 150px;
}

.width-200 {
  max-width: 200px;
}

.width-300 {
  max-width: 300px;
}

.width-400 {
  max-width: 400px;
}

.width-500 {
  max-width: 500px;
}

.width-600 {
  max-width: 600px;
}

.min-width-100 {
  min-width: 100px;
}

.min-width-150 {
  min-width: 150px;
}

.min-width-200 {
  min-width: 200px;
}

.min-width-300 {
  min-width: 300px;
}

.min-width-400 {
  min-width: 400px;
}

.min-width-500 {
  min-width: 500px;
}

.min-width-600 {
  min-width: 600px;
}

.tr-align-top {
  vertical-align: top;
  padding-top: 10px;
}

.container-fluid {
  padding-left: 25px;
  padding-right: 25px;
}

.btn {
  font-weight: 600;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 2px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
  border: none;
  transition: 0.3s;
}

.btn:hover,
.btn:focus {
  box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
  border: none;
  transition: 0.1s;
  opacity: 0.9;
}

.btn-success {
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  transition: 0.3s;
}

.btn-success:hover,
.btn-success:focus {
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  transition: 0.1s;
  opacity: 0.9;
}

.btn-yellow {
  background-color: var(--color-yellow);
  color: var(--vt-c-black-mute);
}

.btn-yellow:hover,
.btn-yellow:focus {
  color: var(--vt-c-black-mute);
  background-color: var(--color-yellow);
  transition: 0.1s;
  opacity: 0.9;
}

.btn-neutral {
  background-color: #f0f0f0;
  color: var(--vt-c-black-mute);
}

.btn-neutral:hover,
.btn-neutral:focus {
  color: var(--vt-c-black-mute);
  background-color: #f0f0f0;
  transition: 0.1s;
  opacity: 0.9;
}

.btn-grey {
  background-color: var(--color-greybtn);
  color: var(--vt-c-black-mute);
}

.btn-grey:hover,
.btn-grey:focus {
  color: var(--vt-c-black-mute);
  background-color: var(--color-greybtn);
  transition: 0.1s;
  opacity: 0.9;
}

.btn-black {
  background-color: var(--vt-c-black-mute);
  color: #fff;
}

.btn-black:hover,
.btn-black:focus {
  background-color: var(--vt-c-black-mute);
  color: #fff;
  transition: 0.1s;
  opacity: 0.9;
}

.btn-green {
  background-color: var(--color-green);
  color: var(--vt-c-black-mute);
}

.btn-green:hover,
.btn-green:focus {
  color: var(--vt-c-black-mute);
  background-color: var(--color-green);
  transition: 0.1s;
  opacity: 0.9;
}

.table-card {
  height: 450px;
}

.ag-root-wrapper {
  border: 1px solid #eee;
}

.table-header {
  border: 1px solid #eee;
  height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.table-header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sub-view {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: relative;
}

.sub-view-left {
  width: 265px;
  min-height: calc(
    100vh - 
    var(--main-nav-height) - 
    var(--message-area-height)
  );
  align-items: stretch;
  /*height: 100%;*/
  border-right: 1px solid #e0e0e0;
  padding: 20px;
}

.sub-view-right {
  width: calc(100% - 265px);
  height: 100%;
  position: relative;
}

.sub-view-header {
  width: 100%;
  padding: 25px;
  background-color: #fafafa;
  border-bottom: 1px solid #eee;
}

.sub-view-menu-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  border-left: 4px solid transparent;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
}

.sub-view-menu-item:hover,
.sub-view-menu-item:active {
  background-color: var(--color-primary-transparent);
  color: var(--color-primary);
  transition: 0.1s;
}

.sub-view-menu-item-active {
  border-left: 4px solid var(--color-primary);
  background-color: var(--color-primary-transparent);
  color: var(--color-primary);
}

.bg-yellow {
  background-color: #FFF9DD;
  width: 100%;
}

.flex-col {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.firm-report-card {
  box-shadow: 0px 1px 8px rgba(0,0,0,0.15);
  min-height: 80vh;
  padding-bottom: 50px;
  margin-bottom: 20px;
}

.blue-header {
  background-color: var(--color-primary);
  color: white;
  padding: 40px;
  width: 100%;
}

.changelog {
  position: fixed;
  right: 0;
  top: var(--main-nav-height) + var(--message-area-height);
  width: 400px;
  height: 100vh;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 8px rgba(0,0,0,0.15);
  z-index: 1;
}

.changelog-link {
  color: #111;
  cursor: pointer;
  font-size: 12px;
}

.changelog-link:focus,
.changelog-link:hover {
  color: #111;
  text-decoration: underline;
  text-underline-position: under;
}

.changelog-event {
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  width: 100%;
  min-height: 70px;
  margin-top: 10px;
  padding: 8px 15px;
  font-size: 12px;
}

.changelog-header {
  padding: 20px;
  padding-bottom: 0;
  position: relative;
}

.changelog-scroll {
  overflow-y: scroll;
  padding: 0 20px;
  height: calc(
    100vh -
    var(--main-nav-height) -
    var(--message-area-height)
  );
}

.blue-bar {
  width: 100%; 
  height: 2px; 
  background-color: var(--color-primary); 
}

.changelog-close {
  position: absolute;
  right: 0;
  top: 0;
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.three-dots {
  cursor: pointer;
  border-radius: 5px;
  padding: 1px 5px;
  color: #151515;
  font-size: 26px;
  transition: .15s ease;
}

.three-dots:hover {
  background: rgba(241,243,246,0.8);
  transition: .15s ease;
}

#three-dots-menu {
  width: 230px;
  height: auto;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 1px 8px rgba(0,0,0,0.15);
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 2;
  transition: 0.12s opacity;
}

.display-block {
  display: block;
}

.tdm-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 5px;
  cursor: pointer;
}